body {
    font-family: 'Lato', sans-serif;
    font-family: 'Raleway', sans-serif;
    text-align: center;       
    overflow-x: hidden;     
    scroll-behavior: smooth;
}

/* Navbar */

.navbar-brand {
    white-space: initial;
}

nav a {
    color: white;
    text-align: center
}

.navbar-nav li {
    margin: 0 50px
}


.navbar-toggler{
    color: white
}

.form-group {
    margin: 10px 25px
}

.btn-submit{
    color: white;
}