body {
    font-family: 'Lato', sans-serif;
    font-family: 'Raleway', sans-serif;
    text-align: center;   
    overflow-x: hidden; 
    scroll-behavior: smooth;
}

/* Navbar */
.navbar {
    margin: 0
}

nav a {
    color: white;
    text-align: center
}

.navbar-nav li {
    margin: 0 50px
}


.navbar-toggler{
    color: white
}

@media screen and (max-width:450px){
    .enquiry-button{  
        display: none      
    }
}

@media screen and (max-width:450px){
    .navbar-nav li{  
        margin-left: 10px      
    }
}

.form-group {
    margin: 10px 25px
}

.btn-submit{
    color: white;
}

.btn-light{
    color: #030a4a;
    font-weight: bold
}
/* Hero Container */

.hero-container {    
    text-align: center;
    height: 90vh;
    background-image: url("../images/deck-lake-forest.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    color: #fafafa;
}

.hero-container h1{    
    padding-top: 35vh;
    font-weight: 400;
    font-size: 400%;
}

@media screen and (max-width:400px){
    .hero-container h1{    
    padding-top: 100px
    }
}

/* Values Container */

.values-container{
    background-color: #F5F5DC
}

.value-text h1{
    color: #030a4a; 
}

.value-text h5{
    border: 1px solid white;
    background-color: #030a4a;      
    border-radius: 5px;
    color: white;    
    padding: 20px 10px;
    max-width: 30%;
    text-align: center;
    justify-content: center;
    margin-left: 35%;  
}

@media screen and (max-width:1200px){
    .value-text h5{  
        margin-top: 20px;
        margin-bottom: 20px      
    }
}

@media screen and (max-width:450px){
    .value-text h4{         
        margin-bottom: 50px      
    }
}
.values-container img{
    height: 50vh;
    padding: 45px 0;
    
}

@media screen and (max-width:450px){
    .values-container img, .values-container p{  
        display: none  
    
    }
}




/* Footer */
footer, footer i{
    background-color: #030a4a;
    color: white
}

.footer-logo img{
    height: 100px;
    vertical-align: center
}